
.primary-btn {
    color: $smoky-black;
    background-color: $white;
    border-radius: 0%;
    border-color: $smoky-black;
    font-family: $raleway;
    font-weight: $bold;
    border-style: solid;
    border-width: 1px;
    padding: 7px 10px;
        &:hover {
            border-color: $light-gray;
            background-color: $white;
            color: $smoky-black;
        }
        &:focus {
            background-color: $white;
            border-color: $light-gray;
            color: $light-gray;
            box-shadow: none;
        }

}